{% extends "BM_System/login.html" %}
{% block form %}
<section>
    <h1>ログイン</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr><th><td>
                <p><a href="{% url 'create' %}">アカウントがない場合</a></p>
            </td></th></tr>
            <tr><th><td>
                <button type="submit" id="Btn" onclick = "BtnHide(true)">ログイン</button>
                <p id="Btn_text"></p>
            </td></th></tr>
        </table>
    </form>
</section>
{% endblock %}
