{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'WebSystem/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <form action="{% url 'CalcPayment' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <th><p>{{message}}</p></th><td>{{ result }}</td>
            </tr>
            <tr>
                <th></th><td>
                    <input type="submit" value="給与計算(Enter)">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>