{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'BM_System/css/style.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'BM_System/js/submit.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="{% static 'BM_System/js/vue.js' %}"></script>
    <!-- <script src="https://unpkg.com/vue"></script> -->
</head>

<body>

    <!-- ヘッダー -->
    {% block header%} {% endblock%}
    <!-- /ヘッダー -->

    <!-- wrapper -->
    <div id="wrapper">
        <!-- メイン -->
        {% block main %} {% endblock %}
        <!-- /メイン -->

        <!-- サイド -->
        <aside id="sidebar">
            <section id="side_banner">
                <h2>関連リンク</h2>
                <ul>
                    <li><a href="https://twitter.com/oohara_jyoho?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3Aoohara_jyoho&ref_url=https%3A%2F%2Fwww.o-hara.ac.jp%2Fit-creator%2F"
                            target="_blank" rel="noopener noreferrer">twitter</a></li>
                    <li><a href="https://www.o-hara.ac.jp/it-creator/" target="_blank"
                            rel="noopener noreferrer">東京情報クリエイター工学院専門学校</a></li>
                </ul>
            </section>
            <section id="side_contact">
                <h2>お問い合わせ</h2>
                <address><img src="{% static 'BM_System/img/mark_tel.png' %}" alt="TEL">052-232-8229</address>
                <p>受付時間　9:00~18:00</p>
                <p><a href="{% url 'contact' %}" class="contact_button">お問い合わせフォーム</a></p>
            </section>
            {% block accounts_info %}
            <section id="accounts_info">
                <h2>アカウント</h2>
                {% if user_name == "AnonymousUser" %}
                <p>ログインしていません。</p>
                <p><a href="{% url 'login'%}" class="login_out_button">ログイン</a></p>
                {% elif user_staff %}
                <p>{{request.user}}様</p>
                <p><a href="{% url 'logout'%}" class="login_out_button">ログアウト</a></p>
                <p><a href="{% url 'admin:index' %}" class="login_out_button">管理画面</a></p>
                {% else %}
                <p>{{request.user}}様</p>
                <p><a href="{% url 'logout'%}" class="login_out_button">ログアウト</a></p>
                {% endif %}
            </section>
            {% endblock %}
        </aside>
        <!-- /サイド -->
    </div>
    <!-- /wrapper -->

    <!-- フッター -->
    {% block footer%} {% endblock %}
    <!-- /フッター -->
</body>
<script>
    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#base',
        data: {
        },
        methods: {
        }
    })
</script>
<style>
    .v-enter-action,.v-leave-active{
        transition:0.5;
    }
    .v-enter,.v-leave-to{
        opacity:0;
        transform:translateX(50px)
    }
</style>
{% block script %}
{% endblock %}
</html>