{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'BM_System/css/style.css' %}">
        {% block head %} {% endblock %}
        <script>
            var ID,Seccond;
            function BtnHide(id = false){
                ID = id;
                if(id){
                    document.getElementById("Btn").style.visibility = "hidden";
                    document.getElementById("Btn_text").textContent = "しばらくお待ちください。～処理中～"
                }else{
                    var btn = document.getElementsByClassName("Btn");
                    for(var i = 0;i < btn.length;i++){
                        btn[i].style.visibility = "hidden";
                    }
                }
                window.setTimeout(BtnDisp, 10000);
            }
            function BtnDisp(){
                if(ID){
                    document.getElementById("Btn").style.visibility = "visible";
                    document.getElementById("Btn_text").textContent = ""
                }else{
                    var btn = document.getElementsByClassName("Btn");
                    for(var i = 0;i < btn.length;i++){
                        btn[i].style.visibility = "visible";
                    }
                }
            }
        </script>
    </head>
    <body>

        <!-- ヘッダー -->
        {% block header%} {% endblock%}
        <!-- /ヘッダー -->

        <!-- wrapper -->
        <div id="wrapper">
            <!-- メイン -->
            {% block main %} {% endblock %}
            <!-- /メイン -->

            <!-- サイド -->
            <aside id="sidebar">
                <section id="side_banner">
                    <h2>関連リンク</h2>
                    <ul>
                        <li><a href="#" target="_blank"><a href="https://twitter.com/oohara_jyoho?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3Aoohara_jyoho&ref_url=https%3A%2F%2Fwww.o-hara.ac.jp%2Fit-creator%2F">Twitter</a></li>
                        <li><a href="https://www.o-hara.ac.jp/it-creator/">東京情報クリエイター工学院専門学校</a></li>
                    </ul>
                </section>
                <section id="side_contact">
                    <h2>ご予約・お問い合わせ</h2>
                    <address><img src="{% static 'BM_System/img/mark_tel.png' %}" alt="TEL">052-232-8229</address>
                    <p>受付時間　9:00~18:00</p>
                    <p><a href="{% url 'contact' %}" class="contact_button">お問い合わせフォーム</a></p>
                </section>
                {% block accounts_info %}
                <section id="accounts_info">
                    <h2>アカウント</h2>
                    {% if user_name == "AnonymousUser" %}
                    <p>ログインしていません。</p>
                    <p><a href="{% url 'login'%}" class = "login_out_button">ログイン</a></p>
                    {% elif user_name == "admin" %}
                    <p>{{request.user}}様</p>
                    <p><a href="{% url 'logout'%}">ログアウト</a></p>
                    <p><a href="">ここ</a></p>
                    {% else %}
                    <p>{{request.user}}様</p>
                    <p><a href="{% url 'logout'%}">ログアウト</a></p>
                    {% endif %}
                </section>
                {% endblock %}
            </aside>
            <!-- /サイド -->
        </div>
        <!-- /wrapper -->

        <!-- フッター -->
        {% block footer%} {% endblock %}
        <!-- /フッター -->
    </body>
</html>