{% extends "BM_System/base.html" %}
{% load static %}

<!-- ヘッダー -->
{% block header%}
<header>
    <h1><a href="{% url 'home' %}"><img src="{% static 'BM_System/img/festisite_facebook.png' %}" alt="BM_System"></a>
    </h1>
    <div id="header_contact"><a href="{% url 'contact' %}"><img src="{% static 'BM_System/img/btn_contact.jpg' %}"
                alt="お問い合わせ"></a></div>
    <nav id="global_navi">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'stock' %}">在庫一覧</a></li>
            <li class="current"><a href="{% url 'lending' %}">貸し出し状況</a></li>
            <li><a href="{% url 'login' %}">ログイン/登録</a></li>
            <li><a href="{% url 'contact' %}">お問い合わせ</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
<!-- /ヘッダー -->

<!-- メイン -->
{% block main %}
<div id="main">
    <div id="breadcrumb">
        <ol>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li>貸し出し状況</li>
        </ol>
    </div>
    <article>
        <h1>{{ user_name }}の貸し出し状況</h1>
        {% if title_list %}
        <table border="1" id="lending">
            <tr>
                <th>タイトル</th>
                <th>著者名</th>
                <th>発行年</th>
                <th>借りる</th>
            </tr>
            <script src="{% static 'BM_System/js/jquery.js' %}"></script>
            {% for item in title_list %}
            <tr>
                <td>
                    <p>{{item.title}}</p>
                </td>
                <td>
                    <p>{{item.author}}</p>
                </td>
                <td>
                    <p>{{item.year_issue}}</p>
                </td>
                <form id="form" action="{% url 'book_return' item.id %}" method="POST">
                    {% csrf_token %}
                    <td><button id="submit" type="submit">返す</button></td>
                </form>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1>何も借りてません</h1>
        {% endif %}
    </article>
</div>
{% endblock %}
<!-- /メイン -->

<!-- フッター -->
{% block footer %}
<footer>
    <div id="footer_nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'stock' %}">在庫一覧</a></li>
            <li class="current">貸し出し状況</li>
            <li><a href="{% url 'login' %}">ログイン/登録</a></li>
            <li><a href="{% url 'contact' %}">お問い合わせ</a></li>
        </ul>
    </div>
    <small>&copy; 2020 濱本&瀬下</small>
</footer>
{% endblock %}
<!-- /フッター -->