{% extends "BM_System/base.html" %}
{% load static %}

<!-- ヘッダー -->
{% block header %}
<header>
    <h1><a href="{% url 'home' %}"><img src="{% static 'BM_System/img/festisite_facebook.png' %}" alt="BM_System"></a></h1>
    <div id="header_contact"><a href="{% url 'contact' %}"><img src="{% static 'BM_System/img/btn_contact.jpg' %}"  alt="お問い合わせ"></a></div>
    <nav id="global_navi">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current"><a href="{% url 'stock' %}">在庫一覧</a></li>
            <li><a href="{% url 'lending' %}">貸し出し状況</a></li>
            <li><a href="{% url 'login' %}">ログイン/登録</a></li>
            <li><a href="{% url 'contact' %}">お問い合わせ</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
<!-- /ヘッダー -->

<!-- メイン -->
{% block main %}
<div id="main">
    <div id="breadcrumb">
        <ol>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li>在庫一覧</li>
        </ol>
    </div>
    <article>
        <h1>システム紹介</h1>
        <p class="lead">このシステムは、<a href="https://www.o-hara.ac.jp/it-creator/">東京情報クリエイター工学院専門学校</a>の図書管理システムです。</p>
        <section>
            <h2>機能一覧</h2>
            <section>
                <h3>在庫一覧</h3>
                <p>図書室にある本の一覧を表示します。<br>また、貸し出されているかどうかも確認できます。</p>
                <h3>貸し出し状況</h3>
                <p>自分が借りている本の一覧を見ることができます。</p>
                <h3>お問い合わせ</h3>
                <p>本の不備、システムの不具合等を報告できます。</p>
            </section>
        </section>
    </article>
</div>
{% endblock %}
<!-- /メイン -->

<!-- フッター -->
{% block footer %}
<footer>
    <div id="footer_nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">在庫一覧</li>
            <li><a href="{% url 'lending' %}">貸し出し状況</a></li>
            <li><a href="{% url 'login' %}">ログイン/登録</a></li>
            <li><a href="{% url 'contact' %}">お問い合わせ</a></li>
        </ul>
    </div>
    <small>&copy; 2020 濱本&瀬下</small>
</footer>
{% endblock %}
<!-- /フッター -->